<div class="BG2">

  <div class="team-overview">
    <div class="team-name">
      <h3><%= @team.name %></h3>
      <p>
        <%= link_to "HOME", teams_path %>
        <%= link_to "RADIANT", "/teams/#{@radiant.id}" %>
        <%= link_to "DIRE", "/teams/#{@dire.id}" %>
        <%= link_to "NO TEAM", "/teams/#{@unpicked.id}" %>
      </p>
    </div>
    <div class="team-stat">
      <p> Lineup Complexity (out of 3):
        <!-- tally agi, int, str hero count and place as a quick overview -->
        <% complex = 0 %>
        <% @heros.each do |h| %>
          <% complex += h.complexity.to_i %>
        <% end %>
        <%= complex/@heros.count.to_f %>
      </p>
      <p> Average Attack Range:
      <!-- eventually range of attacks -->
      </p>
      <p> Mobility Rating:
      </p>
    </div>
  </div>

  <p style="text-align: center">
    <% if @heros.count == 5 %>
      <button> clear all heroes </button>
    <% end %>
  </p>

  <div class="team-hero">
    <% @heros.each do |h| %>
      <div class="hero-outer <%= h.primary %>">
        <p class="complex">
           <%= "*" * h.complexity.to_i %>
        </p>
        <h5><%= h.name %></h5>
        <div class="hero-inner">
          <img src="<%= h.image %>" alt="<%= h.name %> profile picture" class="hero-img">
          <p><small><b>Description:</b> <%= h.description %></small></p>
          <p><small><b>Tips For Playing:</b> <%= h.playing %></small></p>
        </div>
        <p>clear</p>

      </div>
    <% end %>
  </div>

  <div class="overall">
  </div>

</div>
