<div class="">
<!-- show more info about hero and link to admin only edit -->
    <h3><%= @hero.name %></h3>
    <img src="<%= @hero.image %>">
    <ul>
      <li><%= @hero.primary %></li>
      <li><%= @hero.complexity %></li>
      <li><%= @hero.description %></li>
      <li><%= @hero.playing %></li>
      <li><%= @hero.with %></li>
      <li><%= @hero.against %></li>
    </ul>
</div>
